/*
  Stylesheet taken from https://system-dictionary.carrd.co/
  So it's probably property of Carrd.
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    -webkit-text-size-adjust: none;
}
mark {
    background-color: transparent;
    color: inherit;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="text"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    min-height: 100vh;
    line-height: 1;
    word-wrap: break-word;
    overflow-x: hidden;
    background-color: #363657;
}
u {
    text-decoration: underline;
}
strong {
    color: inherit;
    font-weight: bolder;
}
em {
    font-style: italic;
}
code {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
    text-indent: 0;
    letter-spacing: 0;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 0.25em;
}
mark {
    background-color: rgba(144, 144, 144, 0.25);
}
a {
    -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    color: inherit;
    text-decoration: underline;
}
s {
    text-decoration: line-through;
}
html {
    font-size: 18pt;
}
#wrapper {
    -webkit-overflow-scrolling: touch;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
#main {
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    text-align: center;
    -moz-transition: opacity 1s ease-in-out 0s;
    -webkit-transition: opacity 1s ease-in-out 0s;
    -ms-transition: opacity 1s ease-in-out 0s;
    transition: opacity 1s ease-in-out 0s;
}
#main > .inner {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 2.5rem 2rem;
    max-width: 100%;
    width: 48rem;
}
#main > .inner > header {
    margin-bottom: 1.5rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#main > .inner > footer {
    margin-top: 1.5rem;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#main > .inner > * > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#main > .inner > * > :first-child {
    margin-top: 0 !important;
}
#main > .inner > * > :last-child {
    margin-bottom: 0 !important;
}
#main > .inner > .full {
    margin-left: calc(-2rem);
    width: calc(100% + 4rem + 0.4725px);
    max-width: calc(100% + 4rem + 0.4725px);
}
#main > .inner > .full:first-child {
    margin-top: -2.5rem !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#main > .inner > .full:last-child {
    margin-bottom: -2.5rem !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#main > .inner > .full.screen {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    border-radius: 0 !important;
    left: 50%;
    right: auto;
    margin-left: -50vw;
}
#main > .inner > * > .full {
    margin-left: calc(-2rem);
    width: calc(100% + 4rem + 0.4725px);
    max-width: calc(100% + 4rem + 0.4725px);
}
#main > .inner > * > .full.screen {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    border-radius: 0 !important;
    left: 50%;
    right: auto;
    margin-left: -50vw;
}
#main > .inner > header > .full:first-child {
    margin-top: -2.5rem !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#main > .inner > footer > .full:last-child {
    margin-bottom: -2.5rem !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
body.is-loading #main {
    opacity: 0;
}
#main > .inner > header,
#main > .inner > footer {
    -moz-transition: opacity 0.375s ease-in-out 0.5625s, visibility 0.375s linear 0.5625s;
    -webkit-transition: opacity 0.375s ease-in-out 0.5625s, visibility 0.375s linear 0.5625s;
    -ms-transition: opacity 0.375s ease-in-out 0.5625s, visibility 0.375s linear 0.5625s;
    transition: opacity 0.375s ease-in-out 0.5625s, visibility 0.375s linear 0.5625s;
}
#main > .inner > header.hidden,
#main > .inner > footer.hidden {
    -moz-transition: opacity 0.375s ease-in-out, visibility 0.375s;
    -webkit-transition: opacity 0.375s ease-in-out, visibility 0.375s;
    -ms-transition: opacity 0.375s ease-in-out, visibility 0.375s;
    transition: opacity 0.375s ease-in-out, visibility 0.375s;
    opacity: 0;
    visibility: hidden;
}
#main > .inner > section {
    -moz-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
    -webkit-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
    -ms-transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
    transition: opacity 0.75s ease-in-out 0.375s, min-height 0.375s ease-in-out, max-height 0.375s ease-in-out;
}
#main > .inner > section.inactive {
    -moz-transition: opacity 0.375s ease-in-out;
    -webkit-transition: opacity 0.375s ease-in-out;
    -ms-transition: opacity 0.375s ease-in-out;
    transition: opacity 0.375s ease-in-out;
    opacity: 0;
}
body.is-instant #main,
body.is-instant #main > .inner > *,
body.is-instant #main > .inner > section > * {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
body.is-instant:after {
    display: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.image {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: block;
}
.image a,
.image span {
    position: relative;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
.image a img,
.image span img {
    display: block;
}
.image img {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
.image.full img {
    display: block;
}
.image.full:first-child img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.image.full:last-child img {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.image.full a,
.image.full span {
    display: block;
}
#image01 a,
#image01 span {
    border-radius: 0.375rem;
}
#image01 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image03 a,
#image03 span {
    border-radius: 0.375rem;
}
#image03 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image02 a,
#image02 span {
    border-radius: 0.375rem;
}
#image02 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image04 a,
#image04 span {
    border-radius: 0.375rem;
}
#image04 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image06 a,
#image06 span {
    border-radius: 0.375rem;
}
#image06 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image05 a,
#image05 span {
    border-radius: 0.375rem;
}
#image05 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image12 a,
#image12 span {
    border-radius: 0.375rem;
}
#image12 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image15 a,
#image15 span {
    border-radius: 0.375rem;
}
#image15 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image07 a,
#image07 span {
    border-radius: 0.375rem;
}
#image07 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image08 a,
#image08 span {
    border-radius: 0.375rem;
}
#image08 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image09 a,
#image09 span {
    border-radius: 0.375rem;
}
#image09 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image10 a,
#image10 span {
    border-radius: 0.375rem;
}
#image10 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image21 a,
#image21 span {
    border-radius: 0.375rem;
}
#image21 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image22 a,
#image22 span {
    border-radius: 0.375rem;
}
#image22 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image23 a,
#image23 span {
    border-radius: 0.375rem;
}
#image23 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image16 a,
#image16 span {
    border-radius: 0.375rem;
}
#image16 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image17 a,
#image17 span {
    border-radius: 0.375rem;
}
#image17 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image11 a,
#image11 span {
    border-radius: 0.375rem;
}
#image11 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image13 a,
#image13 span {
    border-radius: 0.375rem;
}
#image13 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image18 a,
#image18 span {
    border-radius: 0.375rem;
}
#image18 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image14 a,
#image14 span {
    border-radius: 0.375rem;
}
#image14 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image19 a,
#image19 span {
    border-radius: 0.375rem;
}
#image19 img {
    width: 8rem;
    border-radius: 0.375rem;
}
#image20 a,
#image20 span {
    border-radius: 0.375rem;
}
#image20 img {
    width: 8rem;
    border-radius: 0.375rem;
}
h1 br + br,
h2 br + br,
h3 br + br,
p br + br {
    display: block;
    content: " ";
}
h1 .li,
h2 .li,
h3 .li,
p .li {
    display: list-item;
    padding-left: 0.5em;
    margin: 0.75em 0 0 1em;
}
#text01 br + br {
    margin-top: 0.825rem;
}
#text01 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 2.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text04 br + br {
    margin-top: 0.975rem;
}
#text04 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text13 br + br {
    margin-top: 0.825rem;
}
#text13 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text02 br + br {
    margin-top: 0.975rem;
}
#text02 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text02 a {
    text-decoration: underline;
}
#text02 a:hover {
    text-decoration: none;
}
#text17 br + br {
    margin-top: 0.825rem;
}
#text17 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text12 br + br {
    margin-top: 0.975rem;
}
#text12 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text24 br + br {
    margin-top: 0.975rem;
}
#text24 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text25 br + br {
    margin-top: 0.975rem;
}
#text25 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text25 a {
    text-decoration: underline;
}
#text25 a:hover {
    text-decoration: none;
}
#text26 br + br {
    margin-top: 0.975rem;
}
#text26 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text27 br + br {
    margin-top: 0.975rem;
}
#text27 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text27 a {
    text-decoration: underline;
}
#text27 a:hover {
    text-decoration: none;
}
#text30 br + br {
    margin-top: 0.975rem;
}
#text30 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text28 br + br {
    margin-top: 0.975rem;
}
#text28 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text31 br + br {
    margin-top: 0.975rem;
}
#text31 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text52 br + br {
    margin-top: 0.975rem;
}
#text52 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text53 br + br {
    margin-top: 0.975rem;
}
#text53 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text53 a {
    text-decoration: underline;
}
#text53 a:hover {
    text-decoration: none;
}
#text54 br + br {
    margin-top: 0.975rem;
}
#text54 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text54 a {
    text-decoration: underline;
}
#text54 a:hover {
    text-decoration: none;
}
#text29 br + br {
    margin-top: 0.975rem;
}
#text29 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text35 br + br {
    margin-top: 0.975rem;
}
#text35 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text37 br + br {
    margin-top: 0.975rem;
}
#text37 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text37 a {
    text-decoration: underline;
}
#text37 a:hover {
    text-decoration: none;
}
#text38 br + br {
    margin-top: 0.975rem;
}
#text38 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text39 br + br {
    margin-top: 0.975rem;
}
#text39 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text43 br + br {
    margin-top: 0.975rem;
}
#text43 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text22 br + br {
    margin-top: 0.825rem;
}
#text22 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text21 br + br {
    margin-top: 0.975rem;
}
#text21 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text19 br + br {
    margin-top: 0.825rem;
}
#text19 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text51 br + br {
    margin-top: 0.975rem;
}
#text51 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text51 a {
    text-decoration: underline;
}
#text51 a:hover {
    text-decoration: none;
}
#text50 br + br {
    margin-top: 0.825rem;
}
#text50 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text23 br + br {
    margin-top: 0.975rem;
}
#text23 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text20 br + br {
    margin-top: 0.975rem;
}
#text20 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text20 a {
    text-decoration: underline;
}
#text20 a:hover {
    text-decoration: none;
}
#text09 br + br {
    margin-top: 0.825rem;
}
#text09 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text05 br + br {
    margin-top: 0.975rem;
}
#text05 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text10 br + br {
    margin-top: 0.975rem;
}
#text10 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text10 a {
    text-decoration: underline;
}
#text10 a:hover {
    text-decoration: none;
}
#text41 br + br {
    margin-top: 0.975rem;
}
#text41 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text41 a {
    text-decoration: underline;
}
#text41 a:hover {
    text-decoration: none;
}
#text14 br + br {
    margin-top: 0.975rem;
}
#text14 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text14 a {
    text-decoration: underline;
}
#text14 a:hover {
    text-decoration: none;
}
#text15 br + br {
    margin-top: 0.825rem;
}
#text15 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text16 br + br {
    margin-top: 0.975rem;
}
#text16 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text32 br + br {
    margin-top: 0.975rem;
}
#text32 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text32 a {
    text-decoration: underline;
}
#text32 a:hover {
    text-decoration: none;
}
#text44 br + br {
    margin-top: 0.975rem;
}
#text44 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text44 a {
    text-decoration: underline;
}
#text44 a:hover {
    text-decoration: none;
}
#text33 br + br {
    margin-top: 0.975rem;
}
#text33 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text33 a {
    text-decoration: underline;
}
#text33 a:hover {
    text-decoration: none;
}
#text45 br + br {
    margin-top: 0.975rem;
}
#text45 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text34 br + br {
    margin-top: 0.975rem;
}
#text34 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text34 a {
    text-decoration: underline;
}
#text34 a:hover {
    text-decoration: none;
}
#text36 br + br {
    margin-top: 0.975rem;
}
#text36 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text47 br + br {
    margin-top: 0.975rem;
}
#text47 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text47 a {
    text-decoration: underline;
}
#text47 a:hover {
    text-decoration: none;
}
#text42 br + br {
    margin-top: 0.975rem;
}
#text42 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text46 br + br {
    margin-top: 0.975rem;
}
#text46 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text46 a {
    text-decoration: underline;
}
#text46 a:hover {
    text-decoration: none;
}
#text48 br + br {
    margin-top: 0.975rem;
}
#text48 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text48 a {
    text-decoration: underline;
}
#text48 a:hover {
    text-decoration: none;
}
#text11 br + br {
    margin-top: 0.825rem;
}
#text11 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text18 br + br {
    margin-top: 0.975rem;
}
#text18 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text55 br + br {
    margin-top: 0.825rem;
}
#text55 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text56 br + br {
    margin-top: 0.975rem;
}
#text56 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text56 a {
    text-decoration: underline;
}
#text56 a:hover {
    text-decoration: none;
}
#text40 br + br {
    margin-top: 0.825rem;
}
#text40 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text49 br + br {
    margin-top: 0.975rem;
}
#text49 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text49 a {
    text-decoration: underline;
}
#text49 a:hover {
    text-decoration: none;
}
#text57 br + br {
    margin-top: 0.825rem;
}
#text57 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text58 br + br {
    margin-top: 0.975rem;
}
#text58 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text58 a {
    text-decoration: underline;
}
#text58 a:hover {
    text-decoration: none;
}
#text07 br + br {
    margin-top: 0.825rem;
}
#text07 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text08 br + br {
    margin-top: 0.975rem;
}
#text08 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#text08 a {
    text-decoration: underline;
}
#text08 a:hover {
    text-decoration: none;
}
#text03 br + br {
    margin-top: 0.825rem;
}
#text03 {
    text-transform: uppercase;
    color: #ff8ca8;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.325rem;
    width: calc(100% + 0.325rem);
    font-size: 1.5em;
    line-height: 1.375;
    font-weight: 400;
}
#text06 br + br {
    margin-top: 0.975rem;
}
#text06 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    line-height: 1.625;
    font-weight: 400;
}
#credits br + br {
    margin-top: 0.9rem;
}
#credits {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 400;
    cursor: default;
    margin-top: 1rem !important;
}
#credits a {
    text-decoration: none !important;
    -moz-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 0.5;
}
#credits a:hover {
    text-decoration: none !important;
    opacity: 1;
}
#header {
    margin-bottom: 0rem !important;
}
.gallery .inner {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
.gallery ul li a,
.gallery ul li span {
    position: relative;
}
.gallery ul li img {
    width: auto;
    max-width: 100%;
    margin: 0;
    vertical-align: top;
}
#gallery01 .inner {
    max-width: 100%;
}
#gallery01 ul li a,
#gallery01 ul li span {
    border-radius: 0rem;
    display: block;
}
#gallery01 ul li img {
    border-radius: 0rem;
    height: auto;
    max-height: 8rem;
}
#gallery01 ul {
    width: calc(100% + 1rem);
    margin: -0.5rem 0 -0.5rem -0.5rem;
}
#gallery01 ul li {
    display: inline-block;
    margin: 0.5rem;
}
#gallery02 .inner {
    max-width: 100%;
}
#gallery02 ul li a,
#gallery02 ul li span {
    border-radius: 0rem;
    display: block;
}
#gallery02 ul li img {
    border-radius: 0rem;
    height: auto;
    max-height: 8rem;
}
#gallery02 ul {
    width: calc(100% + 1rem);
    margin: -0.5rem 0 -0.5rem -0.5rem;
}
#gallery02 ul li {
    display: inline-block;
    margin: 0.5rem;
}
#gallery03 .inner {
    max-width: 100%;
}
#gallery03 ul li a,
#gallery03 ul li span {
    border-radius: 0rem;
    display: block;
}
#gallery03 ul li img {
    border-radius: 0rem;
    height: auto;
    max-height: 8rem;
}
#gallery03 ul {
    width: calc(100% + 1rem);
    margin: -0.5rem 0 -0.5rem -0.5rem;
}
#gallery03 ul li {
    display: inline-block;
    margin: 0.5rem;
}
#gallery04 .inner {
    max-width: 100%;
}
#gallery04 ul li a,
#gallery04 ul li span {
    border-radius: 0rem;
    display: block;
}
#gallery04 ul li img {
    border-radius: 0rem;
    height: auto;
    max-height: 8rem;
}
#gallery04 ul {
    width: calc(100% + 1rem);
    margin: -0.5rem 0 -0.5rem -0.5rem;
}
#gallery04 ul li {
    display: inline-block;
    margin: 0.5rem;
}
#gallery06 .inner {
    max-width: 100%;
}
#gallery06 ul li a,
#gallery06 ul li span {
    border-radius: 0rem;
    display: block;
}
#gallery06 ul li img {
    border-radius: 0rem;
    height: auto;
    max-height: 8rem;
}
#gallery06 ul {
    width: calc(100% + 1rem);
    margin: -0.5rem 0 -0.5rem -0.5rem;
}
#gallery06 ul li {
    display: inline-block;
    margin: 0.5rem;
}
#gallery05 .inner {
    max-width: 100%;
}
#gallery05 ul li a,
#gallery05 ul li span {
    border-radius: 0rem;
    display: block;
}
#gallery05 ul li img {
    border-radius: 0rem;
    height: auto;
    max-height: 8rem;
}
#gallery05 ul {
    width: calc(100% + 1rem);
    margin: -0.5rem 0 -0.5rem -0.5rem;
}
#gallery05 ul li {
    display: inline-block;
    margin: 0.5rem;
}
.icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}
.icons li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.icons li a {
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.icons li a svg {
    display: block;
    position: relative;
    -moz-transition: fill 0.25s ease;
    -webkit-transition: fill 0.25s ease;
    -ms-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}
.icons li a + svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: fill 0.25s ease, stroke 0.25s ease;
    -webkit-transition: fill 0.25s ease, stroke 0.25s ease;
    -ms-transition: fill 0.25s ease, stroke 0.25s ease;
    transition: fill 0.25s ease, stroke 0.25s ease;
}
.icons li a .label {
    display: none;
}
#icons01 {
    font-size: 1.5em;
    width: calc(100% + 1.5rem);
    margin-left: -0.75rem;
}
#icons01 li {
    margin: 0.75rem;
}
#icons01 li a {
    width: 1em;
    height: 1em;
}
#icons01 li a svg {
    width: 100%;
    height: 100%;
}
#icons01 a svg {
    fill: #ff8ca8;
}
hr {
    width: 100%;
    position: relative;
    padding: 0;
    border: 0;
}
hr:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}
#divider01:not(:first-child) {
    margin-top: 0.5rem !important;
}
#divider01:not(:last-child) {
    margin-bottom: 0.5rem !important;
}
#divider01:before {
    width: 15%;
    border-top: solid 1px rgba(255, 255, 255, 0.169);
    height: 1px;
    margin-top: -0.5px;
}
.buttons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}
.buttons li a {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    vertical-align: middle;
}
#buttons01 {
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
}
#buttons01 li {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 1rem);
    margin: 0.5rem;
}
#buttons01 li a {
    display: flex;
    width: 8.125rem;
    height: 2.625rem;
    line-height: 2.625rem;
    vertical-align: middle;
    padding: 0 1.3125rem;
    text-transform: uppercase;
    font-size: 0.625em;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.225rem;
    padding-left: calc(0.225rem + 1.3125rem);
    font-weight: 400;
    border-radius: 0.375rem;
}
#buttons01 .button {
    color: #ffffff;
    border: solid 1px rgba(255, 255, 255, 0.169);
}
#buttons01 .button:hover {
    color: #ff8ca8 !important;
    border-color: #ff8ca8 !important;
}
@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #main > .inner {
        padding: 2.5rem 2rem;
    }
    #main > .inner > header {
        margin-bottom: 1.5rem;
    }
    #main > .inner > footer {
        margin-top: 1.5rem;
    }
    #main > .inner > * > * {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    #main > .inner > .full {
        margin-left: calc(-2rem);
        width: calc(100% + 4rem + 0.4725px);
        max-width: calc(100% + 4rem + 0.4725px);
    }
    #main > .inner > .full:first-child {
        margin-top: -2.5rem !important;
    }
    #main > .inner > .full:last-child {
        margin-bottom: -2.5rem !important;
    }
    #main > .inner > .full.screen {
        margin-left: -50vw;
    }
    #main > .inner > * > .full {
        margin-left: calc(-2rem);
        width: calc(100% + 4rem + 0.4725px);
        max-width: calc(100% + 4rem + 0.4725px);
    }
    #main > .inner > * > .full.screen {
        margin-left: -50vw;
    }
    #main > .inner > header > .full:first-child {
        margin-top: -2.5rem !important;
    }
    #main > .inner > footer > .full:last-child {
        margin-bottom: -2.5rem !important;
    }
    #image01 img {
        width: 8rem;
    }
    #image03 img {
        width: 8rem;
    }
    #image02 img {
        width: 8rem;
    }
    #image04 img {
        width: 8rem;
    }
    #image06 img {
        width: 8rem;
    }
    #image05 img {
        width: 8rem;
    }
    #image12 img {
        width: 8rem;
    }
    #image15 img {
        width: 8rem;
    }
    #image07 img {
        width: 8rem;
    }
    #image08 img {
        width: 8rem;
    }
    #image09 img {
        width: 8rem;
    }
    #image10 img {
        width: 8rem;
    }
    #image21 img {
        width: 8rem;
    }
    #image22 img {
        width: 8rem;
    }
    #image23 img {
        width: 8rem;
    }
    #image16 img {
        width: 8rem;
    }
    #image17 img {
        width: 8rem;
    }
    #image11 img {
        width: 8rem;
    }
    #image13 img {
        width: 8rem;
    }
    #image18 img {
        width: 8rem;
    }
    #image14 img {
        width: 8rem;
    }
    #image19 img {
        width: 8rem;
    }
    #image20 img {
        width: 8rem;
    }
    #text01 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 2.5em;
        line-height: 1.375;
    }
    #text04 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text13 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text02 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text17 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text12 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text24 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text25 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text26 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text27 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text30 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text28 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text31 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text52 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text53 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text54 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text29 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text35 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text37 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text38 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text39 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text43 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text22 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text21 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text19 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text51 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text50 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text23 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text20 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text09 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text05 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text10 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text41 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text14 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text15 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text16 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text32 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text44 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text33 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text45 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text34 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text36 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text47 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text42 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text46 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text48 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text11 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text18 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text55 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text56 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text40 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text49 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text57 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text58 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text07 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text08 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #text03 {
        letter-spacing: 0.284375rem;
        width: calc(100% + 0.284375rem);
        font-size: 1.5em;
        line-height: 1.375;
    }
    #text06 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 1em;
        line-height: 1.625;
    }
    #credits {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.8em;
        line-height: 1.5;
    }
    #gallery01 ul li img {
        max-height: 6rem;
    }
    #gallery02 ul li img {
        max-height: 6rem;
    }
    #gallery03 ul li img {
        max-height: 6rem;
    }
    #gallery04 ul li img {
        max-height: 6rem;
    }
    #gallery06 ul li img {
        max-height: 6rem;
    }
    #gallery05 ul li img {
        max-height: 6rem;
    }
    #icons01 {
        font-size: 1.5em;
        width: calc(100% + 1.5rem);
        margin-left: -0.75rem;
    }
    #icons01 li {
        margin: 0.75rem;
    }
    #divider01:not(:first-child) {
        margin-top: 0.5rem !important;
    }
    #divider01:not(:last-child) {
        margin-bottom: 0.5rem !important;
    }
    #divider01:before {
        width: 15%;
    }
    #buttons01 li a {
        font-size: 0.625em;
    }
}
@media (max-width: 480px) {
    #main > .inner > header {
        margin-bottom: 1.3125rem;
    }
    #main > .inner > footer {
        margin-top: 1.3125rem;
    }
    #main > .inner > * > * {
        margin-top: 1.3125rem;
        margin-bottom: 1.3125rem;
    }
    #buttons01 li a {
        width: 8.125rem;
    }
}
@media (max-width: 360px) {
    #main > .inner {
        padding: 1.875rem 1.5rem;
    }
    #main > .inner > header {
        margin-bottom: 1.125rem;
    }
    #main > .inner > footer {
        margin-top: 1.125rem;
    }
    #main > .inner > * > * {
        margin-top: 1.125rem;
        margin-bottom: 1.125rem;
    }
    #main > .inner > .full {
        margin-left: calc(-1.5rem);
        width: calc(100% + 3rem + 0.4725px);
        max-width: calc(100% + 3rem + 0.4725px);
    }
    #main > .inner > .full:first-child {
        margin-top: -1.875rem !important;
    }
    #main > .inner > .full:last-child {
        margin-bottom: -1.875rem !important;
    }
    #main > .inner > .full.screen {
        margin-left: -50vw;
    }
    #main > .inner > * > .full {
        margin-left: calc(-1.5rem);
        width: calc(100% + 3rem + 0.4725px);
        max-width: calc(100% + 3rem + 0.4725px);
    }
    #main > .inner > * > .full.screen {
        margin-left: -50vw;
    }
    #main > .inner > header > .full:first-child {
        margin-top: -1.875rem !important;
    }
    #main > .inner > footer > .full:last-child {
        margin-bottom: -1.875rem !important;
    }
    #text01 {
        font-size: 2em;
    }
    #text04 {
        font-size: 1em;
    }
    #text13 {
        font-size: 1.5em;
    }
    #text02 {
        font-size: 1em;
    }
    #text17 {
        font-size: 1.5em;
    }
    #text12 {
        font-size: 1em;
    }
    #text24 {
        font-size: 1em;
    }
    #text25 {
        font-size: 1em;
    }
    #text26 {
        font-size: 1em;
    }
    #text27 {
        font-size: 1em;
    }
    #text30 {
        font-size: 1em;
    }
    #text28 {
        font-size: 1em;
    }
    #text31 {
        font-size: 1em;
    }
    #text52 {
        font-size: 1em;
    }
    #text53 {
        font-size: 1em;
    }
    #text54 {
        font-size: 1em;
    }
    #text29 {
        font-size: 1em;
    }
    #text35 {
        font-size: 1em;
    }
    #text37 {
        font-size: 1em;
    }
    #text38 {
        font-size: 1em;
    }
    #text39 {
        font-size: 1em;
    }
    #text43 {
        font-size: 1em;
    }
    #text22 {
        font-size: 1.5em;
    }
    #text21 {
        font-size: 1em;
    }
    #text19 {
        font-size: 1.5em;
    }
    #text51 {
        font-size: 1em;
    }
    #text50 {
        font-size: 1.5em;
    }
    #text23 {
        font-size: 1em;
    }
    #text20 {
        font-size: 1em;
    }
    #text09 {
        font-size: 1.5em;
    }
    #text05 {
        font-size: 1em;
    }
    #text10 {
        font-size: 1em;
    }
    #text41 {
        font-size: 1em;
    }
    #text14 {
        font-size: 1em;
    }
    #text15 {
        font-size: 1.5em;
    }
    #text16 {
        font-size: 1em;
    }
    #text32 {
        font-size: 1em;
    }
    #text44 {
        font-size: 1em;
    }
    #text33 {
        font-size: 1em;
    }
    #text45 {
        font-size: 1em;
    }
    #text34 {
        font-size: 1em;
    }
    #text36 {
        font-size: 1em;
    }
    #text47 {
        font-size: 1em;
    }
    #text42 {
        font-size: 1em;
    }
    #text46 {
        font-size: 1em;
    }
    #text48 {
        font-size: 1em;
    }
    #text11 {
        font-size: 1.5em;
    }
    #text18 {
        font-size: 1em;
    }
    #text55 {
        font-size: 1.5em;
    }
    #text56 {
        font-size: 1em;
    }
    #text40 {
        font-size: 1.5em;
    }
    #text49 {
        font-size: 1em;
    }
    #text57 {
        font-size: 1.5em;
    }
    #text58 {
        font-size: 1em;
    }
    #text07 {
        font-size: 1.5em;
    }
    #text08 {
        font-size: 1em;
    }
    #text03 {
        font-size: 1.5em;
    }
    #text06 {
        font-size: 1em;
    }
    #credits {
        font-size: 0.8em;
    }
    #gallery01 ul {
        width: calc(100% + 0.75rem);
        margin: -0.375rem 0 -0.375rem -0.375rem;
    }
    #gallery01 ul li {
        margin: 0.375rem;
    }
    #gallery02 ul {
        width: calc(100% + 0.75rem);
        margin: -0.375rem 0 -0.375rem -0.375rem;
    }
    #gallery02 ul li {
        margin: 0.375rem;
    }
    #gallery03 ul {
        width: calc(100% + 0.75rem);
        margin: -0.375rem 0 -0.375rem -0.375rem;
    }
    #gallery03 ul li {
        margin: 0.375rem;
    }
    #gallery04 ul {
        width: calc(100% + 0.75rem);
        margin: -0.375rem 0 -0.375rem -0.375rem;
    }
    #gallery04 ul li {
        margin: 0.375rem;
    }
    #gallery06 ul {
        width: calc(100% + 0.75rem);
        margin: -0.375rem 0 -0.375rem -0.375rem;
    }
    #gallery06 ul li {
        margin: 0.375rem;
    }
    #gallery05 ul {
        width: calc(100% + 0.75rem);
        margin: -0.375rem 0 -0.375rem -0.375rem;
    }
    #gallery05 ul li {
        margin: 0.375rem;
    }
    #icons01 {
        width: calc(100% + 1.125rem);
        margin-left: -0.5625rem;
    }
    #icons01 li {
        margin: 0.5625rem;
    }
    #buttons01 {
        width: calc(100% + 0.75rem);
        margin-left: -0.375rem;
    }
    #buttons01 li {
        max-width: calc(100% - 0.75rem);
        margin: 0.375rem;
    }
}
